{% extends "base.html" %}

{% block lab %} Лабораторная работа 3 {% endblock %}

{% block main %}
    <h1>Поиск товаров</h1>
    
    <form method="POST" action="/lab3/products">
        <label for="min_price">Мин. цена:</label>
        <input type="number" id="min_price" name="min_price" min="0" required>

        <label for="max_price">Макс. цена:</label>
        <input type="number" id="max_price" name="max_price" min="0" required>

        <button type="submit">Искать</button>
    </form>

    <h2>Результаты поиска:</h2>
    {% if products %}
        <ul>
            {% for product in products %}
                <li>
                    <strong>{{ product.name }}</strong><br>
                    Цена: {{ product.price }} руб.<br>
                    Бренд: {{ product.brand }}<br>
                    Цвет: {{ product.color }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Нет товаров в указанном ценовом диапазоне.</p>
    {% endif %}
{% endblock %}