{% extends "base.html" %}

{% block lab %} Лабораторная работа 3{% endblock %}

{% block main %}

    <h1>Cookies</h1>
    <form>
        <div>
            <label class="label" for="color">Выберите цвет текста:</label>
            <input type="color" id="color" name="color" value="{{ color or '' }}">
        </div>
        <div>
            <label class="label" for="background">Выберите цвет фона:</label>
            <input type="color" id="background" name="background" value="{{ background or '' }}">
        </div>
        <div>
            <label class="label" for="font_size">Выберите размер шрифта (px):</label>
            <input type="number" id="font_size" name="font_size" value="{{ font_size or '' }}" min="10" max="50">
        </div>
        <div>
            <label class="label" for="font_style">Выберите стиль текста:</label>
            <select id="font_style" name="font_style">
                <option value="normal" {% if font_style == 'normal' %}selected{% endif %}>Обычный</option>
                <option value="bold" {% if font_style == 'bold' %}selected{% endif %}>Жирный</option>
                <option value="italic" {% if font_style == 'italic' %}selected{% endif %}>Курсив</option>
                <option value="underline" {% if font_style == 'underline' %}selected{% endif %}>Подчеркнутый</option>
            </select>
        </div>
        <div>
            <button type="submit">OK</button>
        </div>
    </form>

{% endblock %}