{% extends "base.html" %}

{% block lab %} Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Создание статьи</h1>
    
    <form method="post">
        <div>
            <label>
                Название статьи:
                <input type="text" maxlength="50" name="title">
            </label>
        </div>

        <div>
            <textarea name="article_text"></textarea>
        </div>

        <div>
            <label>
                <input type="checkbox" name="is_public" value="1">
                Публичная статья
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="is_favorite" value="1">
                Добавить в избранное
            </label>
        </div>

        <div>
            <button type="submit">Готово</button>
        </div>
    </form>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
{% endblock %}