<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Соня Баранова. Лабораторна работа {{lr}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'main.css')}}">
</head>
<body>
    <header>
        WEB-программирование, часть 2. Лабораторная работа {{lr}}
    </header>
    
    <main>
        5 + 2 = {{5 + 2}} <br>
        11 x 28 = {{11 * 28}} <br>
        3258 - 759 = {{3258 - 759}} <br>
        8452 / 793 = {{8452 / 793}} <br>
        48<sup>8</sup>
    </main>

    <footer>
        &copy; {{name}}, {{group}}, {{kurs}} курс, 2024 
    </footer>
</body>
</html>