{% extends "base.html" %}

{% block lab %} Лабораторная работа 8{% endblock %}

{% block main %}
    <h1>Cтатьи</h1>

    <form action="/lab8/articles/search" method="get">
        <input type="text" name="query" placeholder="Поиск по статьям" value="{{ search_query if search_query else '' }}">
        <button type="submit">Найти</button>
    </form>
    
    {% if current_user.is_authenticated %}
        <a href="/lab8/articles/create" class="button">Создать статью</a>
    {% endif %}
    
    {% if articles %}
        <ul>
            {% for article in articles %}
                <li>
                    <h2>{{ article.title }}</h2>
                    <p>{{ article.article_text }}</p>
                    {% if current_user.is_authenticated and article.login_id == current_user.id %}
                        <a href="/lab8/articles/{{ article.id }}/edit" class="button">Редактировать</a>
                        <form action="/lab8/articles/{{ article.id }}/delete" method="post" style="display:inline;">
                            <button type="submit" class="button">Удалить</button>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>У вас пока нет статей.</p>
    {% endif %}
{% endblock %}